<div class="modal-header">
    <h5 class="modal-title">{{ label }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()">
    </button>
</div>

<div class="modal-body d-flex justify-content-center align-items-center" style="min-height: 400px;">
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="graph-plot"></div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
    </div>
</div>