<div id="map" style="height: 100%; width: 100%;"></div>










<div class="map-overlay card p-2 m-2" [class.detail-open]="infraDetailService.isOpen()"
    *ngIf="!windMapService.isWindMode()">
    <p>Ajouter une infrastructure :</p>

    <div class="icon-draggable icon-draggable-tinted icon-draggable-barrage icon-clickable"
        (click)="openHydroSelectModal()" ngbTooltip="Cliquez pour ajouter un barrage hydraulique" placement="top"
        role="button" aria-label="Ajouter un barrage hydroélectrique" [style.background-color]="infraColors['hydro']">
    </div>

    <div class="icon-draggable icon-draggable-tinted icon-draggable-eolienne" infraNom="Parc Éolien" type="EolienneParc"
        route="eolienneparc" draggable="true" ngbTooltip="{{toolTipText}}" placement="top" role="img"
        aria-label="Parc éolien" [style.background-color]="infraColors['eolienneparc']"></div>

    <div class="icon-draggable icon-draggable-tinted icon-draggable-solaire" infraNom="Parc Solaire" type="Solaire"
        route="solaire" draggable="true" ngbTooltip="{{toolTipText}}" placement="top" role="img"
        aria-label="Parc solaire" [style.background-color]="infraColors['solaire']"></div>

    <div class="icon-draggable icon-draggable-tinted icon-draggable-thermique" infraNom="Parc Thermique"
        type="Thermique" route="thermique" draggable="true" ngbTooltip="{{toolTipText}}" placement="top" role="img"
        aria-label="Centrale thermique" [style.background-color]="infraColors['thermique']"></div>

    <div class="icon-draggable icon-draggable-tinted icon-draggable-nucleaire" infraNom="Parc Nucléaire"
        type="Nucleaire" route="nucleaire" draggable="true" ngbTooltip="{{toolTipText}}" placement="top" role="img"
        aria-label="Centrale nucléaire" [style.background-color]="infraColors['nucleaire']"></div>
</div>