<div id="map" style="height: 100%; width: 100%;"></div>

<div class="map-overlay card p-2 m-2">
    <p>Ajouter une infrastructure :</p>

    <img src="/icons/barrage.png" infraNom="Barrage Hydro-Électrique" class="icon-draggable" type="Hydro" route="hydro"
        draggable="true" ngbTooltip="{{toolTipText}}" placement="top" />

    <img src="/icons/eolienne.png" infraNom="Parc Éolien" class="icon-draggable" type="EolienneParc"
        route="eolienneparc" draggable="true" ngbTooltip="{{toolTipText}}" placement="top" />

    <img src="/icons/solaire.png" infraNom="Parc Solaire" class="icon-draggable" type="Solaire" route="solaire"
        draggable="true" ngbTooltip="{{toolTipText}}" placement="top" />

    <img src="/icons/thermique.png" infraNom="Parc Thermique" class="icon-draggable" type="Thermique" route="thermique"
        draggable="true" ngbTooltip="{{toolTipText}}" placement="top" />

    <img src="/icons/nucelaire.png" infraNom="Parc Nucléaire" class="icon-draggable" type="Nucleaire" route="nucleaire"
        draggable="true" ngbTooltip="{{toolTipText}}" placement="top" />
</div>