div#plots {
    padding: 0;
}

/* Map */
div.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    /* Hacky since the map is usually on the right (if not uh-oh */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

div.map-overlay p {
    margin: 0 0.25em;
}

div.map-overlay img.icon-draggable {
    width: 2.5em;
    height: 2.5em;
    cursor: grab;
}