@import 'leaflet/dist/leaflet.css';

/* You can add global styles to this file, and also import other style files */
/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}


.game-modal .modal-dialog {
  width: 60vw;
  max-width: none;
}

.game-modal .modal-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.game-modal .modal-body {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

@media (max-width: 768px) {
  .game-modal .modal-dialog {
    width: 90vw;
    margin: 1rem;
  }
  .game-modal .modal-content {
    height: 80vh;
  }
  .game-modal .modal-body {
    padding: 0.5rem;
  }
}