# Gros fichiers/dossiers
env
venv
harmoniq_env
**/db.sqlite
**/test_db.sqlite
**/demande.db
**/demande.db.zip

# Fichier python générés
*.egg-info
__pycache__
_version.py
*.pyc.DS_Store
__pycache__/
.vscode/

# Remove build files
build/

# remove the data cache
cache/