div#main {
    padding: 1em;
    gap: 1rem;
    height: calc(100vh - 5em);
    display: grid;
    grid-template-areas:
        "gestion  infra plot"
        "scenario infra plot";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

@media (max-width: 1250px) {
    div#main {
        grid-template-areas:
            "gestion     plot"
            "scenario    plot"
            "infra       plot"
            "infra       plot";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr 2fr;
    }

    table#gestion-table {
        display: none;
    }
}

@media (max-width: 768px) {
    div#main {
        height: auto;
        overflow: auto;
        grid-template-areas:
            "gestion"
            "scenario"
            "infra"
            "choix-infra"
            "plot";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto 1fr;
    }
}

app-simulation-launcher {
    grid-area: gestion;
}

app-infrastructure-selector {
    grid-area: infra;
}

app-scenario-selector {
    grid-area: scenario;
}

div#main div#plots {
    grid-area: plot;
}

app-simulation-launcher,
app-infrastructure-selector,
app-scenario-selector,
#plots {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

app-simulation-launcher > div,
app-infrastructure-selector > div,
app-scenario-selector > div {
    flex: 1;
    overflow: hidden;
}

div#main > div#plots {
    padding: 0;
}

div#main div#infrastructures div.accordion {
    overflow-y: auto;
}

/* Map */
div.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    /* Hacky since the map is usually on the right (if not uh-oh */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

div.map-overlay p {
    margin: 0 0.25em;
}

div.map-overlay img.icon-draggable {
    width: 2.5em;
    height: 2.5em;
    cursor: grab;
}