#game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

pre {
  max-width: 45vw;
  max-height: 30vh;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: inherit;
}

h1 {
  max-width: 45vw;
  max-height: 15vh;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: inherit;
}

#optionBox {
  height: 35vh;
  width: 45vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
  gap: 0.5rem;
}

button {
  padding: 0.75em 1.5em;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid grey;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 140px;

}

::ng-deep .optionButton {
  padding: 0.75em 1.5em;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid grey;
  color: grey;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 140px;
}

::ng-deep .rightAnswerButtonColor {
  background-color: green;
}

::ng-deep .wrongAnswerButtonColor {
  background-color: red;
}

::ng-deep button:not(.answered):hover {
  background-color: black;
  color: white;
}

.quizButton {
  background: white;
  color: black;
  width: 30vw;
  height: 5vh;
}

.quizButton:hover {
  background-color: black;
  color: white
}

.quizButton {
  text-align: center;
}

#questionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 80vw;
}

#questionCounter {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  font-family: inherit;
}

#questionText {
  width: 55vw;
  height: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#completionMessage {
  text-align: center;
}

#quizButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}