<div id="start-area" *ngIf="!quizStarted">
    <pre>Ce petit module vous permettra de tester vos connaissances à travers une série de 10 questions concernant l'énergie au Québec.
    </pre>

    <img [src]="currentImage" class="energyImage" [class.fade-out]="fade">
    
    <button (click)="start()" class="quizButton">Commencer</button>
</div>


<div id="game-area" [hidden]="!quizStarted">

    <div id="questionContainer">
        <div id="questionCounter" *ngIf="!quizTerminated"><h1>Question {{currentQuestionIndex + 1}} / {{totalQuestions}}
        </h1></div>
        <pre id="questionText">{{questionText}}</pre>
    </div>

    <div id="optionBox" [hidden]="quizTerminated"></div>
    <div id="questonInformation" *ngIf="!quizTerminated && questionInformation">
    <h1>{{questionInformation}}</h1>
</div>

    <div id="resultsContainer" *ngIf="quizTerminated">

    <img *ngIf="goodGradeImage" src="/icons/checkMark.png">
    <img *ngIf="!goodGradeImage" src="/icons/warningMark.png">

    <h1 *ngIf="!goodGradeImage">
        Attention, il se peut que certains concepts ne soient pas bien compris. 
        Vous pouvez toutefois aller lire la documentation si certains concepts 
        n'ont pas bien été compris.
    </h1>

    <h1 *ngIf="goodGradeImage">
        Félicitations! Vous avez obtenu une excellente note!
    </h1>

    <h1 id="completionMessage" *ngIf="quizTerminated && !questionsLeftAvailable">
        Vous avez répondu à toutes les questions disponibles.
        Si jamais vous recommencez, les questions seront les mêmes que celles 
        qui vous ont étées posées précédemment.
    </h1>

</div>

    <div id="quizButtons">
    <button class="quizButton" *ngIf="questionAnswered" (click)="changeQuestion()">{{nextQuestionButtonText}}</button>
    <button class="quizButton" *ngIf="quizTerminated" (click)="startNewQuiz()">
        Commencer un nouveau quiz </button>
    <button class="quizButton" *ngIf="quizTerminated" (click)="close()">Terminer</button>
    </div>

</div>