<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3">
    <div class="nav-section left-section d-flex align-items-center">
        <button class="btn btn-link text-white me-3 p-0" (click)="goBack()" title="Retour au planificateur">
            <i class="fa-solid fa-chevron-left fa-lg"></i>
        </button>
        <app-top-bar-logo />
    </div>

    <div class="nav-section center-section">
        <p class="scenario-name"> Scénario: {{scenarioService.selectedScenario()?.nom}}</p>

    </div>

    <div class="nav-section right-section">
        @if (simulationService.step() !== '') {
        <div class="step-indicator">
            <div class="step-badge d-flex align-items-center">
                <div class="status-dot-container me-3">
                    <div class="status-dot"></div>
                    <div class="status-pulse"></div>
                </div>
                <div class="step-content">
                    <div class="step-value text-truncate">{{ simulationService.step() }}</div>
                </div>
            </div>
        </div>
        }
    </div>
</nav>