.hero-section {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.45), rgba(141, 141, 141, 0.459)), url("https://images.pexels.com/photos/31326222/pexels-photo-31326222/free-photo-of-aerial-view-of-dam-structure-in-alma-wi.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.hero-section h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.hero-section p {
    font-size: 1.5em;
    max-width: 800px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.content-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.content-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}


.content-section p,
.content-section ul {
    font-size: 1.4em;
    max-width: 800px;
    margin: 0 auto;
    color: #555;
    line-height: 1.6;
}

.content-section ul {
    text-align: left;
    margin-top: 20px;
}

div#nav button {
    padding: 0.5em 1em;
    background: none;
    font-weight: bold;
    font-size: 1.5em;
    border: 2px solid black;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 0.2em;
}